beautifulsoup4==4.11.2
Django==4.1.5
django_environ==0.9.0
django_extensions==3.2.1
django_mirage_field==1.4.0
djangorestframework_simplejwt==5.2.2
environ==1.0
itemadapter==0.7.0
jsonschema==4.4.0
mirage==2.4.0
Scrapy==2.7.1
